openapi: 3.1.0
info:
  title: Help Scout Mailbox Conversations Webhooks API
  description: Minimal OpenAPI description for Help Scout's Mailbox API v2 covering core resources for conversations, threads, customers, mailboxes, users, teams, tags, workflows, and webhooks. Generated from public documentation; verify before production use.
  version: '2.0'
  contact:
    name: Help Scout Developer Documentation
    url: https://developer.helpscout.com/mailbox-api/
  x-generated-from: https://developer.helpscout.com/mailbox-api/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.helpscout.net/v2
  description: Help Scout Mailbox API production
security:
- oauth2: []
tags:
- name: Webhooks
paths:
  /webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: createWebhook
      summary: Create webhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '201':
          description: Created
components:
  schemas:
    Webhook:
      type: object
      properties:
        url:
          type: string
        events:
          type: array
          items:
            type: string
        secret:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.helpscout.net/v2/oauth2/token
          scopes: {}
